<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.dbcafe.dao.CategoryDAO">
	<!-- 
	카테고리별 매출 비중일때는 csum - 판매 금액
	카테고리별 판매량 비중일때는 ccount - 판매 건수
	 -->
	<select id="categorySum" resultType="categoryDTO" parameterType="hashmap">
		SELECT c.CATNM as category , SUM(g.PRICE) as csum 
		FROM ORD o , DETAIL d , GOODS g , CATEGORY c 
		WHERE o.STNO = '1001' AND 
		<choose>
			<when test="startDay.length() == 10">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY-MM-DD') >= #{startDay}
				AND to_char(o.ORDDT , 'YYYY-MM-DD') <= #{endDay}
				]]>
			</when>
			<when test="startDay.length() == 7">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY-MM') >= #{startDay}
				AND to_char(o.ORDDT , 'YYYY-MM') <= #{endDay}
				]]>
			</when>
			<when test="startDay.length() == 4">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY') >= #{startDay}
				AND to_char(o.ORDDT , 'YYYY') <= #{endDay}
				]]>
			</when>
		</choose>
		AND o.ordNo = d.ORDNO AND d.GDNO = g.GDNO AND g.CATNO = c.CATNO 
		GROUP BY c.CATNM 
	</select>
	<select id="categoryCount" resultType="categoryDTO" parameterType="hashmap">
		SELECT c.CATNM as category , COUNT(*) as ccount
		FROM ORD o , DETAIL d , GOODS g , CATEGORY c 
		WHERE o.STNO = '1001' AND 
		<choose>
			<when test="startDay.length() == 10">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY-MM-DD') >= #{startDay}
				AND to_char(o.ORDDT , 'YYYY-MM-DD') <= #{endDay}
				]]>
			</when>
			<when test="startDay.length() == 7">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY-MM') >= #{startDay}
				AND to_char(o.ORDDT , 'YYYY-MM') <= #{endDay}
				]]>
			</when>
			<when test="startDay.length() == 4">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY') >= #{startDay}
				AND to_char(o.ORDDT , 'YYYY') <= #{endDay}
				]]>
			</when>
		</choose>
		AND o.ordNo = d.ORDNO AND d.GDNO = g.GDNO AND g.CATNO = c.CATNO 
		GROUP BY c.CATNM 
	</select>
	
	<select id="menuSelect" resultType="hashmap" parameterType="hashmap">
		SELECT g.GDNM as menu , COUNT(*) as mcount, SUM(g.PRICE) as msum
		FROM ORD o , DETAIL d , GOODS g 
		WHERE o.STNO = #{o.STNO} AND ordDt BETWEEN TO_DATE(#{startDay}, 'YYYY-MM-DD HH24:MI:SS') 
		AND TO_DATE(#{endDay} , 'YYYY-MM-DD HH24:MI:SS') AND o.ordNo = d.ORDNO AND d.GDNO = g.GDNO
		GROUP BY g.GDNM 
	</select>
	<select id="selectAll" resultType="categoryVO">
		select * from category
	</select>
	<select id="selectOrd" resultType="hashmap" parameterType="hashmap">
		select ordNo from ord WHERE ordDt BETWEEN TO_DATE(#{startDay}, 'YYYY-MM-DD HH24:MI:SS') 
		AND TO_DATE(#{endDay} , 'YYYY-MM-DD HH24:MI:SS')
	</select>
</mapper>