<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.dbcafe.dao.CategoryDAO">
	<!-- 
	카테고리별 매출 비중일때는 csum - 판매 금액
	카테고리별 판매량 비중일때는 ccount - 판매 건수
	 -->
	 <!-- 카테고리별 매출 조회 쿼리 -->
	<select id="categorySum" resultType="categoryDTO" parameterType="hashmap">
		SELECT c.CATNM as category , SUM(g.PRICE) as csum 
		FROM ORD o , DETAIL d , GOODS g , CATEGORY c 
		WHERE o.STNO = '1001' AND
		<![CDATA[
		to_char(o.ORDDT , 'YYYY-MM-DD') >= #{startDay}
		AND to_char(o.ORDDT , 'YYYY-MM-DD') <= #{endDay}
		]]> 
		<!--  
		<choose>
			<when test="startDay.length() == 10">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY-MM-DD') >= #{startDay}
				AND to_char(o.ORDDT , 'YYYY-MM-DD') <= #{endDay}
				]]>
			</when>
			<when test="startDay.length() == 7">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY-MM') >= #{startDay}
				AND to_char(o.ORDDT , 'YYYY-MM') <= #{endDay}
				]]>
			</when>
			<when test="startDay.length() == 4">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY') >= #{startDay}
				AND to_char(o.ORDDT , 'YYYY') <= #{endDay}
				]]>
			</when>
		</choose>
		-->
		AND o.ordNo = d.ORDNO AND d.GDNO = g.GDNO AND g.CATNO = c.CATNO 
		GROUP BY c.CATNM 
	</select>
	<!-- 카테고리별 판매량 조회 쿼리 -->
	<select id="categoryCount" resultType="categoryDTO" parameterType="hashmap">
		SELECT c.CATNM as category , COUNT(*) as ccount
		FROM ORD o , DETAIL d , GOODS g , CATEGORY c 
		WHERE o.STNO = '1001' AND 
		<![CDATA[
		to_char(o.ORDDT , 'YYYY-MM-DD') >= #{startDay}
		AND to_char(o.ORDDT , 'YYYY-MM-DD') <= #{endDay}
		]]>
		<!-- 
		<choose>
			<when test="startDay.length() == 10">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY-MM-DD') >= #{startDay}
				AND to_char(o.ORDDT , 'YYYY-MM-DD') <= #{endDay}
				]]>
			</when>
			<when test="startDay.length() == 7">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY-MM') >= #{startDay}
				AND to_char(o.ORDDT , 'YYYY-MM') <= #{endDay}
				]]>
			</when>
			<when test="startDay.length() == 4">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY') >= #{startDay}
				AND to_char(o.ORDDT , 'YYYY') <= #{endDay}
				]]>
			</when>
		</choose>
		 -->
		AND o.ordNo = d.ORDNO AND d.GDNO = g.GDNO AND g.CATNO = c.CATNO 
		GROUP BY c.CATNM 
	</select>
	<!-- 카테고리 매출별 상세 메뉴 가격 조회 쿼리 -->
	<select id="menuSum" resultType="categoryMenuDTO" parameterType="hashmap">
		SELECT g.GDNM as menu , COUNT(*) as mcount, SUM(g.PRICE) as msum
		FROM ORD o , DETAIL d , GOODS g , CATEGORY c 
		WHERE o.STNO = #{o.STNO} AND 
		<![CDATA[
		TO_char(o.ORDDT , 'YYYY-MM-DD') >= #{startDay}
		AND TO_char(o.ORDDT , 'YYYY-MM-DD') <= #{endDay}
		]]>
		AND o.ordNo = d.ORDNO AND d.GDNO = g.GDNO AND g.CATNO = c.CATNO 
		AND c.CATNM = '커피'
		GROUP BY g.GDNM 
	</select>
	<select id="selectAll" resultType="categoryVO">
		select * from category
	</select>
</mapper>