<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dbcafe.dao.OrderDAO">
	<!-- namespace를 인터페이스 이름과 일치 시켜야 한다. -->
	<select id="selectStNm" parameterType="string"
		resultType="string">
		select stNm from STORE WHERE stNo = #{stNo}
	</select>
	<!-- 시간대별 조회 -->
	<select id="sumByUnitTimes" parameterType="map"
		resultType="kr.co.dbcafe.vo.OrderResultVO$SumByTime">
		SELECT
		to_char(o2.ORDDT , 'hh24') time,
		sum(d.TOTPRICE) as sum
		FROM
		DETAIL d,
		ORD o2
		WHERE d.ORDNO
		IN
		( SELECT
		o.ORDNO
		FROM ORD o
		WHERE
		<choose>
			<when test="start.length() == 10"> 
			<![CDATA[ 
			to_char(o.ORDDT , 'YYYY-MM-DD') >= #{start} 
			AND to_char(o.ORDDT , 'YYYY-MM-DD') <= #{end} 
			]]>
			</when>
			<when test="start.length() == 7"> 
			<![CDATA[ 
			to_char(o.ORDDT , 'YYYY-MM') >= #{start} 
			AND to_char(o.ORDDT , 'YYYY-MM') <= #{end} 
			]]>
			</when>
			<when test="start.length() == 4"> 
			<![CDATA[ 
			to_char(o.ORDDT , 'YYYY') >= #{start} 
			AND to_char(o.ORDDT, 'YYYY') <= #{end} 
			]]>
			</when>
		</choose>
		AND o.STNO IN #{stNo})
		AND D.ORDNO = O2.ORDNO
		GROUP BY
		to_char(o2.ORDDT,
		'hh24')
		ORDER BY
		to_char(o2.ORDDT,'hh24')
	</select>

	<!-- 날짜 단위별 조회 -->
	<select id="sumByUnitDate" parameterType="map"
		resultType="kr.co.dbcafe.vo.OrderResultVO$SumByTime">
		SELECT
		<choose>
			<when test="start.length() == 10">
				to_char(o2.ORDDT , 'YYYY-MM-DD') time,
				sum(d.TOTPRICE) sum
			</when>
			<when test="start.length() == 7">
				to_char(o2.ORDDT , 'YYYY-MM') time,
				sum(d.TOTPRICE)
				sum
			</when>
			<when test="start.length() == 4">
				to_char(o2.ORDDT , 'YYYY') time,
				sum(d.TOTPRICE) sum
			</when>
		</choose>
		FROM
		DETAIL d,
		ORD o2
		WHERE
		d.ORDNO IN (
		SELECT
		o.ORDNO
		FROM
		ORD o
		WHERE
		<choose>
			<when test="start.length() == 10">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY-MM-DD') >= #{start}
				AND to_char(o.ORDDT , 'YYYY-MM-DD') <= #{end}
				]]>
			</when>
			<when test="start.length() == 7">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY-MM') >= #{start}
				AND to_char(o.ORDDT , 'YYYY-MM') <= #{end}
				]]>
			</when>
			<when test="start.length() == 4">
				<![CDATA[
				to_char(o.ORDDT , 'YYYY') >= #{start}
				AND to_char(o.ORDDT , 'YYYY') <= #{end}
				]]>
			</when>
		</choose>
		AND o.STNO IN #{stNo})
		AND D.ORDNO = O2.ORDNO
		<choose>
			<when test="start.length() == 10">
				GROUP BY
				to_char(o2.ORDDT , 'YYYY-MM-DD')
				ORDER
				BY
				to_char(o2.ORDDT , 'YYYY-MM-DD')
			</when>
			<when test="start.length() == 7">
				GROUP BY
				to_char(o2.ORDDT , 'YYYY-MM')
				ORDER BY
				to_char(o2.ORDDT , 'YYYY-MM')
			</when>
			<when test="start.length() == 4">
				GROUP BY
				to_char(o2.ORDDT , 'YYYY')
				ORDER BY
				to_char(o2.ORDDT , 'YYYY')
			</when>
		</choose>
	</select>

	<!-- 비교조회 -->
	<select id="selectCompByStore" parameterType="map"
		resultType="PeriodCompResultDTO">
		SELECT
		stNm1,sum1,stNm2,sum2
		FROM
		(
		SELECT
		sum(d.TOTPRICE) sum1,
		s.stnm
		stNm1
		FROM
		DETAIL d,
		ORD o2,
		STORE s
		WHERE
		d.ORDNO IN (
		SELECT
		o.ORDNO
		FROM
		ORD
		o
		WHERE
		<choose>
			<when test="start1.length() == 10">
				<![CDATA[
				to_char(ORDDT , 'YYYY-MM-DD') >= #{start1}
				AND to_char(ORDDT , 'YYYY-MM-DD') <= #{end1}
				]]>
			</when>
			<when test="start1.length() == 7">
				<![CDATA[
				to_char(ORDDT , 'YYYY-MM') >= #{start1}
				AND to_char(ORDDT , 'YYYY-MM') <= #{end1}
				]]>
			</when>
			<when test="start1.length() == 4">
				<![CDATA[
				to_char(ORDDT , 'YYYY') >= #{start1}
				AND to_char(ORDDT , 'YYYY') <= #{end1}
				]]>
			</when>
		</choose>
		AND STNO IN
		<foreach collection="stNoList" item="stNo" open="(" close=")"
			separator="," index="index">
			#{stNo}
		</foreach>
		)
		AND D.ORDNO = O2.ORDNO
		AND
		o2.STNO = s.STNO
		GROUP BY
		s.stnm),
		(
		SELECT
		sum(d.TOTPRICE) sum2,
		s.stnm
		stNm2
		FROM
		DETAIL d,
		ORD o2,
		STORE s
		WHERE
		d.ORDNO IN (
		SELECT
		o.ORDNO
		FROM
		ORD o
		WHERE
		<choose>
			<when test="start2.length() == 10">
				<![CDATA[
				to_char(ORDDT , 'YYYY-MM-DD') >= #{start2}
				AND to_char(ORDDT , 'YYYY-MM-DD') <= #{end2}
				]]>
			</when>
			<when test="start2.length() == 7">
				<![CDATA[
				to_char(ORDDT , 'YYYY-MM') >= #{start2}
				AND to_char(ORDDT , 'YYYY-MM') <= #{end2}
				]]>
			</when>
			<when test="start2.length() == 4">
				<![CDATA[
				to_char(ORDDT , 'YYYY') >= #{start2}
				AND to_char(ORDDT , 'YYYY') <= #{end2}
				]]>
			</when>
		</choose>
		AND STNO IN
		<foreach collection="stNoList" item="stNo" open="(" close=")"
			separator="," index="index">
			#{stNo}
		</foreach>
		)
		AND D.ORDNO = O2.ORDNO
		AND o2.STNO = s.STNO
		GROUP BY
		s.stnm)
		WHERE
		stnm1 =
		stnm2
	</select>


</mapper>