<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.dbcafe.dao.SalesGoalDAO">
	<select id="selectMonthSalesGoal"
		resultType="MonthGoalResultDTO">
		SELECT
		sum,
		goalMonth
		FROM
		(
		SELECT
		sum(d.TOTPRICE) sum
		FROM
		ORD o ,
		DETAIL d
		WHERE
		o.ORDNO = d.ORDNO
		AND TO_CHAR(o.ORDDT, 'YYYY-MM') = '2020-03'
		AND o.STNO
		= '1001'),
		(
		SELECT
		m.MONTHGOALSALES goalMonth
		FROM
		MGOAL m
		WHERE
		m.GOALYM = '2020-03'
		AND m.STNO = '1001')
	</select>
</mapper>