<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!----======== CSS ======== -->
<link rel="stylesheet" href="css/style.css">

<!----===== Boxicons CSS ===== -->
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<title>Cafe Account Management System ☆★☆★</title>
</head>

<body>

	<!-- sidebar -->
	<nav th:replace="common.html :: sidebarFragment"></nav>

	<!-- View 화면 -->

	<section class="home">
		<div class="text">목표 매출액 달성률</div>


		<div class="graph">
			<span class="goalYmtitle"> 2023년 2월 매출액</span>
			<input type="month" id="goalDate" value="2023-02" onclick="dateSubmit()">
			<div class="grpahWrap">
				<div class="goalYm" id="goalYm"></div>
			</div>

			<span class="goalYytitle"> 2023년도 매출액</span>
			<div class="goalYy" id="goalYy"></div>
		</div>
	</section>

</body>

</html>